main {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
      margin-bottom: 40px;
    }
    .home-over-message {
      width: 100%;
      background-color: $light-grey;
      border-radius: 20px;
      padding: 20px;
    }
  }
  
  .explanation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 250px;
      background-color: #006494;
      color: #fff;
      height: 50px;
      cursor: pointer;
      border: none;
      border-radius: 30px;
      font-family: inherit;
      font-size: 1em;
    }
    p {
      margin-right: 40px;
    }
  }

  @media screen and (max-width: 750px) {
  
    main {
      .home-over-message {
        width: 90%;
      }
    }
  
  }